.header-mb {
  background-color: #127782;
  padding: 40px 40px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-left: -20px;

    svg,
    path {
      fill: #fff;
      width: 48px;
      height: 48px;
    }
  }

  h1 {
    color: #fff;
    font-size: 48px;
    margin-top: 32px;
    text-transform: uppercase;
  }
}